/* Mobile Design Mock Up */
/*****************************
        Custom Styles
*****************************/
/******** Global Styles ********/
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    background-color: #222;
}
nav ul{
    list-style: none;
}

img{
    padding: 2%;
}

.topnav ul li {
display: inline-block;
color: #c78c06;
width: 100%;
font-size: 80px;
text-align: center;

}

.header{
    background-color: #c78c06; 
  }

.header img {
    float: left;
    width: 600px;
    height: 600px;
   padding-left: 2%;
  }

 

/* selecting child elements multiple levels */

nav ul a{
    display: block;
    color: black;
    text-decoration: none;
}

nav ul li{
    border-left: 1px solid black;
    font-size: small;
}

nav .btn{
    background-color: #c78c06;
   
}

body{
    line-height: 1.5;
}

.main-banner{
    float: inline-end;
    width: 60px;
    height: 60px;
   padding: 5%;
}

main h1{
    font-size: 300px;
    padding: 5%;
    text-align: left;
}

main p{
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 45px;
}

main nav{
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;
    text-transform: none;
    text-decoration: none; 
    font-size: 100px;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    line-height: inherit;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

img{
    width: 100%;
}

/* loVe HAte: Link, Visited, Hover/Focus, Active */
a,
a:link,
a:visited {
    color: inherit;
}

a:focus {
    color: #00add8; 
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin: 1em, 0 0.5em;
}

/* To ensure that font sizes are portionate to each other and not random values: www.modularscale.com */

h1{
    font-size: 9.063rem;
}
h2{
    font-size: 3.375rem;
}
h3{
    font-size: 2.25rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1rem;
}

p{
    margin: 1em, 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

/******* HEADER ********/
.mobile-logo {
max-width: 150px;
}
.desktop-logo{
    display: none;
}

.banner{
    height: 600px;
    background: grey url(../images/logo.png) repeat center bottom;
    background-size: cover;
}

.banner h1{
    margin: 0;
    padding-top: 250px;
    text-align: center;
    text-transform: uppercase;
}

/********** Mobile App Section **********/
.btn{
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    border: 1px, solid grey;
    border-radius: 6px;
}
.btn:hover,
.btn:focus{
    background-color: #00add8;
    color: inherit;
}

/********* Footer Styles *********/
.site-footer{
    margin-top: 20px;
    padding: 20px, 0;
    border-top: 2px solid #00add8;
}

.copy{
    text-align: right;
}

/**************************
     DESKTOP STYLES
***************************/

